{% extends "starter.html" %}
{% block title %}{{pagina}}{% endblock %} 

{% block head %}
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
	
  <style type="text/css" class="init">
	
	.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
	text-decoration: underline;
	}

	table#example.dataTable tbody tr.Highlight > .sorting_1 {
		background-color: rgb(170, 228, 255);
		/*#ffa*/;
	}

	table#example.dataTable tbody tr.Highlight > .sorting_2 {
		background-color: rgb(170, 228, 255);
	}

	table#example.dataTable tbody tr.Highlight {
		background-color: rgb(170, 228, 255);
	}
	
    table#example.dataTable tbody tr.oHighlight > .sorting_1 {
		background-color: rgb(173, 255, 170);
	}

	table#example.dataTable tbody tr.oHighlight > .sorting_2 {
		background-color: rgb(173, 255, 170);
	}

	table#example.dataTable tbody tr.oHighlight {
		background-color: rgb(255, 170, 170);
	}
	
	tr.odd td:first-child,
	tr.even td:first-child {
		padding-left: 4em;
	}
	

	.google-plus-1{
		fill:#dc4e41;
	}
	.change-opacity-svg:hover{
		opacity:0.6;
	}
  </style>
   


{% endblock %}


{% block content %}

<div class="container-fluid">
	<div class="row">

		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">New Prediction</h3>
				</div>
				<div class="card-body">
					<div class="row">

						<div class="col-md-6">
							<form method="post" enctype="multipart/form-data" action="/predictor">
								<div class="form-group">
									
									<label for="exampleInputEmail1">
										File ('dataset.csv')
									</label>
									<div class="custom-file">
										<input type="file" name="data_file" class="custom-file-input" id="exampleInputFile" required>
										<label class="custom-file-label" for="exampleInputFile">Choose file</label>
										<input type="hidden" id="idt" value="{{idt}}">
									</div>
								</div>

								<button type="submit" class="btn btn-outline-primary" value="generar">
									Run Predictor
								</button>
							</form>
						</div>

						<div class="col-md-6">
							<dl>
								<dt>
									Empty Template
								</dt>
								<dd>
									The empty template contains the required data. Download <button type="submit" class="astext" onclick="window.open('{{url_for('static', filename='tests/dataset_template.csv' )}}')">here</button>..
									
								</dd>
								<dt>
									Test dataset
								</dt>
								<dd>
									For testing purposes you can download a populated file <button type="submit" class="astext" onclick="window.open('{{url_for('static', filename='tests/dataset_test1.csv' )}}')">here</button>.
								</dd>
							</dl>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- tabla otras predicts -->
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
				<h3 class="card-title">Latest predictions</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body p-0">
				<table class="table table-sm table-striped">
					<thead>
					<tr>
						<th style="width: 10px">#</th>
						<th>Pred. Id.</th>
						<th>Date</th>
						<th style="width: 40px">Rows</th>
					</tr>
					</thead>
					<tbody>
					{% for item in latest %}
					<tr>
						<td>{{loop.index}}.</td>
						<td><a href="/data_predict?id={{item[0]}}">{{item[0]}}</a></td>
						{% set date = item[2].split('.') %}
						<td>{{date[0]}}</td>
						<td><span class="badge bg-primary">{{item[1]}}</span></td>
					</tr>
					{% endfor %}



					</tbody>
				</table>
				</div>
				<!-- /.card-body -->
			</div>
		</div>

	</div>
	
	
	
	
	{% if idt == None %}
	<hr>

	<div class="row d-flex justify-content-center">
		<div class="col-md-12 d-flex justify-content-center">
			<div class="change-opacity-svg">
			<img alt="AI" src="{{ url_for('static',filename='img/ai.svg')}}" />

			</div>
		</div>
	</div>

	
	{% endif %}
	

	{% if idt != None %}
	<hr>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<div class="row align-items-start">
						<center><h4>Predictor results</h4></center>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					
						<div class="row">
							<div class="col-12">
								<table id="example" class="display" style="width:100%">
									<thead>
										<tr>
											<th>IdBeneficiario</th>
											<th>EdadMeses</th>
											<th>Peso</th>
											<th>Talla</th>
											<th>ZScorePesoTalla</th>
											<th>ZScoreIMC</th>	
											<th>RiesgoDesnutricion3Meses</th>									
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>IdBeneficiario</th>
											<th>EdadMeses</th>
											<th>Peso</th>
											<th>Talla</th>
											<th>ZScorePesoTalla</th>
											<th>ZScoreIMC</th>	
											<th>RiesgoDesnutricion3Meses</th>										
										</tr>
									</tfoot>
								</table>
							
							</div>
						</div>
					
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>

{% endif %}


</div>

{% endblock %}



{% block js %}

<script>
$(function () {
  bsCustomFileInput.init();
});
</script>

<script>

$(document).ready(function() {

    var table = $('#example').DataTable( {
        scrollX:        true,
        scrollCollapse: true,
        fixedColumns:   {
            leftColumns: 1,
            rightColumns: 1
        },
		"pageLength": 100,
		"ajax": {
				"url": "/pjson/"+ idt.value,
				"type": "GET",
                "dataSrc": "data"
            },
			
        "columns": [
            { "data": "IdBeneficiario" },
            { "data": "EdadMeses-0" },
            { "data": "Peso-1" },
            { "data": "Talla-1" },
			{ "data": "ZScorePesoTalla-1" },
			{ "data": "ZScoreIMC-1" },
			{ "data": "RiesgoDesnutricion3Meses" }
        ],
		"columnDefs": [
				{"className": "dt-center", "targets": "_all"}
			],
		"createdRow": function (row, data, dataIndex, cells) {
			if (data.RiesgoDesnutricion3Meses > 0.5 && data.RiesgoDesnutricion3Meses <= 0.75) {
				$(row).addClass('Highlight');
			}
			else if (data.RiesgoDesnutricion3Meses > 0.75) {
				$(row).addClass('oHighlight');
			}}
    } );
});

</script>



{% endblock %}

	