{% extends "starter.html" %}
{% block title %}{{pagina}}{% endblock %} 

{% block head %}
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
	
  <style type="text/css" class="init">
	
	table#example.dataTable tbody tr.Highlight > .sorting_1 {
		background-color: rgb(170, 228, 255);
		/*#ffa*/;
	}

	table#example.dataTable tbody tr.Highlight > .sorting_2 {
		background-color: rgb(170, 228, 255);
	}

	table#example.dataTable tbody tr.Highlight {
		background-color: rgb(170, 228, 255);
	}
	
    table#example.dataTable tbody tr.oHighlight > .sorting_1 {
		background-color: rgb(173, 255, 170);
	}

	table#example.dataTable tbody tr.oHighlight > .sorting_2 {
		background-color: rgb(173, 255, 170);
	}

	table#example.dataTable tbody tr.oHighlight {
		background-color: rgb(173, 255, 170);
	}
	
	tr.odd td:first-child,
	tr.even td:first-child {
		padding-left: 4em;
	}
	
  </style>
   


{% endblock %}


{% block content %}

<div class="container-fluid">
	<div class="row">
	<div class="col-md-8">
		<div class="card">
		<div class="card-header">
			Predict by new dataset
		</div>
		<div class="card-body">
		  <form method="post" enctype="multipart/form-data" action="/predictor">
			<div class="row align-items-center">
				<div class="col-md-4">
					<div class="form-group">
					  <label>
						File ('example.csv'):
					  </label>
					  <div class="custom-file">
						<input type="file" name="data_file" class="custom-file-input" id="exampleInputFile">
						<label class="custom-file-label" for="exampleInputFile">Choose file</label>
					  </div>

					</div>
				</div>
				
				<div class="col-md-4 align-items-end">
							<div class="custom-file align-items-end">
								<button type="submit" class="btn btn-outline-primary" value="generar">Run Predictor</button>
							</div>
				</div>
		
				<div class="col-md-4">
					<input type="hidden" id="idt" value="{{idt}}">
				</div>
		
			</div>
		  </form>	
		
		</div>
	</div>
   </div>
   <div class="col-md-4">
	<div class="card">
		<div class="card-header">
		  <h3 class="card-title">Striped Full Width Table</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body p-0">
		  <table class="table table-striped">
			<thead>
			  <tr>
				<th style="width: 10px">#</th>
				<th>Task</th>
				<th>Progress</th>
				<th style="width: 40px">Label</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>1.</td>
				<td>Update software</td>
				<td>
				  <div class="progress progress-xs">
					<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
				  </div>
				</td>
				<td><span class="badge bg-danger">55%</span></td>
			  </tr>
			  <tr>
				<td>2.</td>
				<td>Clean database</td>
				<td>
				  <div class="progress progress-xs">
					<div class="progress-bar bg-warning" style="width: 70%"></div>
				  </div>
				</td>
				<td><span class="badge bg-warning">70%</span></td>
			  </tr>
			  <tr>
				<td>3.</td>
				<td>Cron job running</td>
				<td>
				  <div class="progress progress-xs progress-striped active">
					<div class="progress-bar bg-primary" style="width: 30%"></div>
				  </div>
				</td>
				<td><span class="badge bg-primary">30%</span></td>
			  </tr>
			  <tr>
				<td>4.</td>
				<td>Fix and squish bugs</td>
				<td>
				  <div class="progress progress-xs progress-striped active">
					<div class="progress-bar bg-success" style="width: 90%"></div>
				  </div>
				</td>
				<td><span class="badge bg-success">90%</span></td>
			  </tr>
			</tbody>
		  </table>
		</div>
		<!-- /.card-body -->
	  </div>
   </div>
  </div>


{% if idt != None %}

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<div class="row align-items-start">
					<center><h4>Predictor results</h4></center>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				
					<div class="row">
						<div class="col-12">
							<table id="example" class="display" style="width:100%">
								<thead>
									<tr>
										<th>IdBeneficiario</th>
										<th>EdadMeses</th>
										<th>Peso</th>
										<th>Talla</th>
										<th>ZScorePesoTalla</th>
										<th>ZScoreIMC</th>	
										<th>RiesgoDesnutricion3Meses</th>									
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>IdBeneficiario</th>
										<th>EdadMeses</th>
										<th>Peso</th>
										<th>Talla</th>
										<th>ZScorePesoTalla</th>
										<th>ZScoreIMC</th>	
										<th>RiesgoDesnutricion3Meses</th>										
									</tr>
								</tfoot>
							</table>
						
						</div>
					</div>
				
			</div>
			<!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

{% endif %}

<!-- /.row -->
</div>

{% endblock %}



{% block js %}

<script>
$(function () {
  bsCustomFileInput.init();
});
</script>

<script>

$(document).ready(function() {

    var table = $('#example').DataTable( {
        scrollX:        true,
        scrollCollapse: true,
        fixedColumns:   {
            leftColumns: 1,
            rightColumns: 1
        },
		"pageLength": 100,
		"ajax": {
				"url": "/pjson/"+ idt.value,
				"type": "GET",
                "dataSrc": "data"
            },
			
        "columns": [
            { "data": "IdBeneficiario" },
            { "data": "EdadMeses-0" },
            { "data": "Peso-1" },
            { "data": "Talla-1" },
			{ "data": "ZScorePesoTalla-1" },
			{ "data": "ZScoreIMC-1" },
			{ "data": "RiesgoDesnutricion3Meses" }
        ],
		"columnDefs": [
				{"className": "dt-center", "targets": "_all"}
			],
		"createdRow": function (row, data, dataIndex, cells) {
			if (data.RiesgoDesnutricion3Meses > 0.5 && data.RiesgoDesnutricion3Meses <= 0.75) {
				$(row).addClass('Highlight');
			}
			else if (data.RiesgoDesnutricion3Meses > 0.75) {
				$(row).addClass('oHighlight');
			}}
    } );
});

</script>



{% endblock %}

	