{% extends "starter.html" %}
{% block title %}{{pagina}}{% endblock %} 

{% block head %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

  <style type="text/css" class="init">
  
  </style>
   


{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <title>Recurrence of malnutrition in Colombia</title>

  <!-- BOOTSTRAP CSS CDN -->
  <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- FONT AWESOME -->
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
  <!-- CUSTOM CSS -->
  
  <style>
    .navbar {
      border-bottom: #000 3px solid;
    }

    .home-inner {
      padding: 150px;
    }

    @media (max-width: 992px) {
      .home-inner {
        padding: 100px;
      }
    }

  </style>
</head>
<body>

  <!-- NAVIGATION -->

  <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
      <a href="index.html" class="navbar-brand">
        DS4a - Group 12
      </a>

      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class = "navbar-toggler-icon"></span>
        

      </button>
      <div class = "collapse navbar-collapse" id="navbarCollapse">
        <ul class = "navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#home-section" class="nav-link">Home</a>
            <li class="nav-item">
              <a href="#" class="nav-link">Predictor</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">EDA</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Regional Map</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Box Plots</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Nutritional Seccurity</a>
            </li>
          </ul>
        </div>

      </div>   

    </nav> -->

    <!-- HOME -->

    <header id="home-section">
      <div class="dark-overlay">
        <div class="home-inner">
          <div class="container">
            <div class="row">
             <div class="col text-center">
              <h1 class="display-4">
                <strong>Correlation One - DS4a <br> Group 12 Project for the ICBF</strong>
              </h1>
            </div>
          </div>

        </div>
      </div>
    </div>




    <!-- ICBF 2 -->
    <section class="info-section bg-light text-muted py-5" id="info-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src={{ url_for("static", filename='img/ICBF.png')}} alt="" class="img-fluid mb-3 rouded-circle">
          </div>
          <div class="col-md-6">
            <h1 class="display-4">What is ICBF?</h1>
            <p class="lead">
              <div class="text-justify"> 
                The Colombian Institute of Family Welfare (ICBF for its Spanish acronym), is a public entity of the colombian State that works on prevention and integral protection of the early childhood, adolescence and in the family welfare in Colombia, by giving special attention to those in conditions of threat, and non-observance or violation of their rights.<br><br>
              </div>
              <a href="https://www.icbf.gov.co/">
              <button type="button" class="btn btn-outline-secondary">
                Official ICBF web site
              </button>
              </a>
           </p>
         </div>
       </div>
     </div>
   </section>




   <section class="Project-info-section">
    <div class="container">
      <div class="row">
        <div class="p-5">
          <h1 class="display-4">Our Problem</h1>
          <p class="lead"> 
            <div class="text-justify">
              One of the major concerns of the ICBF is related to problems in early childhood nutrition, given that every year new cases of deaths related to malnutrition are detected. According to the World Bank, OMS, and UNICEF, at least 10% of child and infant mortality was caused by malnutrition issues in 2015. Particularly, in Colombia, according to the National Survey of Nutritional Situation in 2015, the prevalence of delays in the development was around 10.8% and of acute malnutrition of 1.6%, but these values could drastically increase in some specific regions of the country.<br><br>

              For these reasons, the ICBF was interested in finding some insights about socioeconomic and nutritional variables that could influence in a long term the early childhood (0 - 5 years old) malnutrition. Furthermore, the main goal of finding some correlation between these variables was to solve the following question: Could we use these socioeconomic and nutritional information to predict  recurrent cases of malnutrition? Solving this question will give the Institute really important information so they could focus their efforts on the predicted cases and reduce their risk of  malnutrition problems in the future.<br><br>
            </div>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="Our Team">
    <div class="container">
      <div class="row">
        <div class="p-5">
          <h1 class="display-4">The Team</h1>
          <p class="lead"> 
          
          </p>
        </div>
      </div>
    </div>
  </section>

<!-- TEST -->


    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
          <div class="card-body pb-0">
            <div class="row">

              <!-- Person Box -->
              {% for contact in all_contacts %}
              <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                  <div class="card-header text-muted border-bottom-0">
                    {{all_contacts[contact].title}}
                  </div>
                  <div class="card-body pt-0">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="lead"><b>{{all_contacts[contact].name}}</b></h2>
                        <p class="text-muted text-sm"><b>About: </b> {{all_contacts[contact].About}} </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                        </ul>
                      </div>
                      <div class="col-5 text-center">
                        <img src= {{ url_for("static", filename= all_contacts[contact].foto)}} alt="user-avatar" class="img-circle img-fluid">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="text-right">
                      <a href={{all_contacts[contact].linkedin}} class="btn btn-sm btn-primary">
                        <i class="fas fa-user"></i> View LinkedIn Profile
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">

          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
  
      </section>



  <footer class="container">
    <div class="row">
      <div class="col-md-12 p-5">
        <p class="text-center">&copy; DS4a 2021 - Group 12 - ICBF</p>
      </div>

    </div>

  </footer>

  <!-- BOOTSTRAP SCRIPT CDN -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}