{% extends "starter.html" %}
{% block title %}{{pagina}}{% endblock %} 

{% block head %}
  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

{% endblock %}


{% block content %}
        <div class="row">
            <div class="col-lg-3 col-4">
            
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                <h4>Confirmación</h4>

                <p>...</p>
                </div>
                <div class="icon">
                <i class="fa fa-check"></i>
                </div>
                <a href="{{ url_for('data_predict') }}" class="small-box-footer">Gestionar  <i class="fas fa-arrow-circle-right"></i></a>
            </div>

            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-4">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                <h4>Citas</h4>

                <p>...</p>
                </div>
                <div class="icon">
                <i class="fas fa-user-tag"></i>
                </div>
                <a href="{{ url_for('data_predict') }}" class="small-box-footer">Gestionar <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->

            <!-- ./col -->
            <div class="col-lg-3 col-4">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                <h4>Programación</h4>

                <p>...</p>
                </div>
                <div class="icon">
                <i class="fa fa-calendar-alt"></i>
                </div>
                <a href="{{ url_for('data_predict') }}" class="small-box-footer">Gestionar  <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
        </div>
{% endblock %}