{% extends "starter.html" %}
{% block title %}{{pagina}}{% endblock %} 

{% block head %}
  <link href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
	<script src="https://cdn.datatables.net/rowgroup/1.1.2/js/dataTables.rowGroup.min.js"></script>
	<link href="https://cdn.datatables.net/rowgroup/1.1.2/css/rowGroup.dataTables.min.css" rel="stylesheet" type="text/css" />
  
  <style type="text/css" class="init">
	
	td.details-control {
        background: url('{{ url_for('static', filename='img/details_open.png') }}') no-repeat center center;
        cursor: pointer;
    }
    tr.shown td.details-control {
        background: url('{{ url_for('static', filename='img/details_close.png') }}') no-repeat center center;
    }
	
	
	table#example.dataTable tbody tr.Highlight > .sorting_1 {
		background-color: rgb(173, 255, 170);
		/*#ffa*/;
	}

	table#example.dataTable tbody tr.Highlight > .sorting_2 {
		background-color: rgb(173, 255, 170);
	}

	table#example.dataTable tbody tr.Highlight {
		background-color: rgb(173, 255, 170);
	}
	
    table#example.dataTable tbody tr.oHighlight > .sorting_1 {
		background-color: rgb(170, 228, 255);
	}

	table#example.dataTable tbody tr.oHighlight > .sorting_2 {
		background-color: rgb(170, 228, 255);
	}

	table#example.dataTable tbody tr.oHighlight {
		background-color: rgb(170, 228, 255);
	}
	
	tr.odd td:first-child,
	tr.even td:first-child {
		padding-left: 4em;
	}
	
  </style>
   


{% endblock %}


{% block content %}

<div class="container-fluid">
	<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
			  <div class="row align-items-start">
				<div class="col">
					<label class="form-field__label">Fecha:    </label>
				</div>
				<div class="col">

				</div>
			</div>
			<div class="row align-items-start">
			  
				<div class="col">
					<input id="datepicker" type="text" class="form-control" value="{{fecha}}" readonly>
				</div>
				<div class="col">
					<form method="POST" action="/biopsias">
						<input id="fecha" name="fecha" value="{{fecha}}" type="hidden">
						<button type="submit" class="btn btn-outline-primary" value="generar">Buscar</button>
					</form>
				</div>
			  
			</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				
					<div class="row">
						<div class="col-12">
							<table id="example" class="display" style="width:100%">
								<thead>
									<tr>
										<th></th>
										<th>Recurso</th>
										<th>Servicio</th>
										<th>Nombre Paciente</th>
										<th>Admisión</th>
										<th>Rem.</th>
										<th>item</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th></th>
										<th>Recurso</th>
										<th>Servicio</th>
										<th>Nombre Paciente</th>
										<th>Admisión</th>
										<th>Rem.</th>
										<th>item</th>
									</tr>
								</tfoot>
							</table>
						
						</div>
					</div>
				
			</div>
			<!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
	</div>
    <!-- /.row -->
</div>

{% endblock %}

{% block js %}

<script>
function updateEmp() {
	var sel = document.getElementById('emps');
	var valorE = document.getElementById('empres');
	var selValue = sel.options[sel.selectedIndex].value;
	valorE.value= selValue;
}

function format ( d ) {
	var rows = 	'<form method="post" action="/c_bps">'+
				'<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
					'<tr>'+
						'<td>Contrato:</td>'+
						'<td>'+d.Contrato+'</td>'+
					'</tr>'+
					'<tr>'+
						'<td>Nombre Completo:</td>'+
						'<td>'+d.nomPac+'</td>'+
					'</tr>'+
					'<tr>'+
						'<td>Identificación:</td>'+
						'<td>'+d.tipoId+d.numId+'</td>'+
					'</tr>';

					/*'<tr>'+
						'<td><strong>Remisión de patología</strong></td>'+
							'<input type="hidden" name="admision" value="'+d.NumAdmision+'"/>'+
							'<input type="hidden" name="nomPac" value="'+d.nomPac+'"/>'+
							'</td>'+
						'<td> <button type="submit" class="btn btn-primary" name="confirm" value="confirm">Generar</button> </td>'+
					'</tr>'+
				'</table>'+
				'</form>';*/

	var no = 		'<tr>'+
						'<td><strong>Remisión de patología</strong></td>'+
							'<input type="hidden" name="admision" value="'+d.NumAdmision+'"/>'+
							'<input type="hidden" name="nomPac" value="'+d.nomPac+'"/>'+
							'</td>'+
						'<td> <button type="submit" class="btn btn-primary" name="confirm" value="confirm">Generar</button> </td>'+
					'</tr>'+
				'</table>'+
				'</form>';
	
	var ok = 		'<tr>'+
						'<td><strong>Remisión de patología (Generado)</strong></td>'+
						'<td> <a class="btn btn-info" href="/pdf_bx/'+d.info+'" role="button">Imprimir</a> </td>'+
					'</tr>'+
				'</table>'+
				'</form>';
			
	/*var form1 = '<form method="post" action="#">';
	
	var form2 = '<td><input class="form-control" id="obs" name="observ" value="" type="text"/>'+
				'<input type="hidden" name="admision" value="'+d.NumAdmision+'"/>'+
				'</td>'+
			'<td> <button type="submit" class="btn btn-primary" name="confirm" value="confirm">Confirmar</button> </td>'+
        '</tr>'+
    '</table>'+
	'</form>';
	var conf = '<td><input class="form-control" id="obs" name="observ" value="'+d.Observ+'" type="text"/></td>'+
			'<td> <button type="submit" class="btn btn-light" name="confirm" value="confirm">Confirmada - '+d.Confirm.split('- ')[1]+'</button> </td>'+
        '</tr>'+
    '</table>';
	var noconf = '<td><input class="form-control" id="obs" name="observ" value="" readonly type="text"/></td>'+
			'<td> <input id="bton" value="Confirmar 48 horas antes" readonly type="text"/> </td>'+
        '</tr>'+
    '</table>'
	*/
	var	nobps =  rows + no;
	var	okbps = rows + ok;
	if (d.info == "") {
		return nobps
	}
	else{
		return okbps
	}
};


$(document).ready(function() {

    var table = $('#example').DataTable( {
        language: {
            url: '{{ url_for('static', filename='Spanish.json') }}'},
		"pageLength": 100,
		"ajax": {
                "url": "/admBPS/Aa7RE7LtgOKnSgr/"+fecha.value, // This now works too thanks to @kthorngren
                "type": "POST",
				"data": function(d){
					  d.fecha = fecha.value;
					  },
				"dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json"
            },
        "columns": [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            { "data": "Recurso" },
            { "data": "Servicio" },
			{ "data": "nomPac" },
			{ "data": "NumAdmision" },
			{ "data": "info" },
			{ "data": "HoraInt" }
        ],
		"order": [[1, 'asc'],[6, 'desc']],
        "rowGroup": {
            dataSrc: "Recurso"
        },
		"columnDefs": [
			{
				"targets": [ 1 ],
                "visible": false,
			},
			{
                "targets": [ 6 ],
				"type": "html-num",
                "visible": false,
                "searchable": false
            }],
		
		"createdRow": function (row, data, dataIndex, cells) {
			if (data.info != "") {
				$(row).addClass('Highlight');
			}
			/*else if (data.info === 'OK - rec') {
				$(row).addClass('oHighlight');
			} */
			}
			
		
    } );
 
	$('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
    if ( row.child.isShown() ) {
         row.child.hide();
         tr.removeClass('shown');     
        }
    else
        {
         if ( table.row( '.shown' ).length ) {
                  $('.details-control', table.row( '.shown' ).node()).click();
          }
          row.child( format(row.data()) ).show();
          tr.addClass('shown');
     }
	});
	
});

</script>


<script>
    var field = document.getElementById('fecha');
    const firstDatePicker = MCDatepicker.create({
        el: '#datepicker',
        bodyType: 'modal',
        dateFormat: 'dddd, dd mmmm yyyy',
        selectedDate: new Date(),
        customWeekDays: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sábado'],
        customMonths: [
            'Enero',
            'Febrero',
            'Marzo',
            'Abril',
            'Mayo',
            'Junio',
            'Julio',
            'Agosto',
            'Septiembre',
            'Octubre',
            'Noviembre',
            'Deciembre'],
        customOkBTN: 'Ok',
        customClearBTN: 'Borrar',
        customCancelBTN: 'Cancelar',
        firstWeekday: 1,
    });
    firstDatePicker.onSelect((date) => field.value = new Date(date).toISOString().split('T')[0])
</script>

{% endblock %}
