{% extends "starter.html" %}
{% block title %}{{pagina}}{% endblock %} 

{% block head %}
  	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>


  <style type="text/css" class="init">
	
  </style>
   


{% endblock %}


{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<h5 class="card-header">
							Card title
						</h5>
						<div class="card-body">
							<p class="card-text">
								Card content
							</p>
						</div>
						<div class="card-footer">
							Card footer
						</div>
					</div>
					<div class="card">
						<h5 class="card-header">
							Card title
						</h5>
						<div class="card-body">
							<p class="card-text">
								Card content
							</p>
						</div>
						<div class="card-footer">
							Card footer
						</div>
					</div>
				</div>
				<div class="col-md-6">
					


					<div class="embed-responsive embed-responsive-1by1" style="min-height: 300px; max-height: 450px;">
						<iframe class="embed-responsive-item" src="/dash/maps" ></iframe>
					  </div>

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Product
								</th>
								<th>
									Payment Taken
								</th>
								<th>
									Status
								</th>
							</tr>
						</thead>
						
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

<script>
	
</script>



{% endblock %}
