{% extends "starter.html" %}
{% block title %}{{pagina}}{% endblock %} 

{% block head %}
  	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>

  <style type="text/css" class="init">

	td.details-control {
        background: url('{{ url_for('static', filename='img/details_open.png') }}') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('{{ url_for('static', filename='img/details_close.png') }}') no-repeat center center;
    }

	table#example.dataTable tbody tr.Highlight > .sorting_1 {
		background-color: rgb(173, 255, 170);
		/*#ffa*/;
	}

	table#example.dataTable tbody tr.Highlight > .sorting_2 {
		background-color: rgb(173, 255, 170);
	}

	table#example.dataTable tbody tr.Highlight {
		background-color: rgb(173, 255, 170);
	}
	
    table#example.dataTable tbody tr.oHighlight > .sorting_1 {
		background-color: rgb(170, 228, 255);
	}

	table#example.dataTable tbody tr.oHighlight > .sorting_2 {
		background-color: rgb(170, 228, 255);
	}

	table#example.dataTable tbody tr.oHighlight {
		background-color: rgb(170, 228, 255);
	}
	
	tr.odd td:first-child,
	tr.even td:first-child {
		padding-left: 4em;
	}
	
  </style>
   

{% endblock %}


{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">

					<div id='FormRegional' class="card">
						<h5 class="card-header">
							Card title
						</h5>
						<div class="card-body">
							<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Departamento</label>
									<select class="form-control select2" id="dpto" style="width: 100%;" onchange="pdpto()">
									<option value="all" selected>All</option>
									{% for key, value in dptos.items() %}
									<option value={{key}}>{{value}}</option>
									{% endfor%}
									</select>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>Municipio</label>
									<select id="mpio" class="form-control select2" style="width: 100%;" onchange="pmpio()">
										<option value="all" selected>All</option>
									</select>
								</div>
							</div>
						</div>

						</div>

					</div>
					<div class="card">
						<h5 class="card-header">
							Card title
						</h5>
						<div class="card-body">
							




							<div class="row">
								<div class="col-sm-3 col-6">
									<div class="description-block border-right">
										<span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span>
										<h5 class="description-header">$35,210.43</h5>
										<span class="description-text">TOTAL REVENUE</span>
									</div>
								<!-- /.description-block -->
								</div>
								<!-- /.col -->
								<div class="col-sm-3 col-6">
									<div class="description-block border-right">
										<span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span>
										<h5 class="description-header">$10,390.90</h5>
										<span class="description-text">TOTAL COST</span>
									</div>
								<!-- /.description-block -->
								</div>
								<!-- /.col -->
								<div class="col-sm-3 col-6">
									<div class="description-block border-right">
										<span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span>
										<h5 class="description-header">$24,813.53</h5>
										<span class="description-text">TOTAL PROFIT</span>
									</div>
								<!-- /.description-block -->
								</div>
								<!-- /.col -->
								<div class="col-sm-3 col-6">
									<div class="description-block">
										<span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span>
										<h5 class="description-header">1200</h5>
										<span class="description-text">GOAL COMPLETIONS</span>
									</div>
								<!-- /.description-block -->
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					


					<div class="embed-responsive embed-responsive-1by1" style="min-height: 300px; max-height: 480px;">
						<iframe id="map" class="embed-responsive-item" src="/dash/col/all/all" ></iframe>
					  </div>

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<div class="card card-body">
					<table id="example" class="display" style="width:100%">
						<thead>
							<tr>
								<th></th>
								<th>IdBeneficiario</th>
								<th>Municipio</th>
								<th>EdadMeses</th>
								<th>Peso</th>
								<th>Talla</th>
								<th>ZScorePesoTalla</th>
								<th>ZScoreIMC</th>
								<th>RiesgoDesnutricion3Meses</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th></th>
								<th>IdBeneficiario</th>
								<th>EdadMeses</th>
								<th>Municipio</th>
								<th>Peso</th>
								<th>Talla</th>
								<th>ZScorePesoTalla</th>
								<th>ZScoreIMC</th>
								<th>RiesgoDesnutricion3Meses**</th>
							</tr>
						</tfoot>
					</table>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

<script>

function clean_mpio(){
	$('#mpio').empty();
    $('#mpio').append('<option value="all" selected>All</option>')
}

function pdpto(){
	clean_mpio()
	if (dpto.value != 'all'){
		ajax_mpios()
	}
	map()
}

function pmpio(){
	map()
}

function map(){
	var source='/dash/col/'+ dpto.value + '/' + mpio.value;
	console.log(source)
	$('#map').attr('src', source);
}

function ajax_mpios(){ 
	var element = document.getElementById('dpto');
	$.ajax({
		type: 'GET',
		url:'/municipios/'+dpto.value,
		success: function(response){
			resp = response.data
			$.each(resp,function(){
				$('#mpio').append('<option value="'+ this.cod +'">'+ this.nom +'</option>')
			})
		}
	})
}




function format ( d ) {
	var rows = 	'<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
					'<tr>'+
						'<td>IdBeneficiario:</td>'+
						'<td>'+d.IdBeneficiario+'</td>'+
					'</tr>'+
					'<tr>'+
						'<td>Nombre Completo:</td>'+
						'<td>Undisclosed Name</td>'+
					'</tr>'+
					'<tr>'+
						'<td>Dirección:</td>'+
						'<td>'+d.Direccion+'</td>'+
					'</tr>'+
					'<tr>'+
						'<td><strong>Reporte de seguimiento nutricional</strong></td>'+
						'<td> <a class="btn btn-info" href="/seguimiento/'+d.IdBeneficiario+'" role="button">Imprimir</a> </td>'+
					'</tr>'+
				'</table>';

	return rows
};

$(document).ready(function() {

	var table = $('#example').DataTable( {
		searching: false,
		paging: false,
		info: false,
		scrollX:        true,
		scrollCollapse: true,
		fixedColumns:   {
			leftColumns: 1,
			rightColumns: 1
		},
		"pageLength": 100,
		"ajax": {
				"url": "/data_json/" + dpto.value + '/' + mpio.value,
				"type": "POST",
				"dataSrc": "data",
			},
		"columns": [
			{ "className":      'details-control',
				"orderable":      false,
				"data":           null,
				"defaultContent": ''
			},
			{ "data": "IdBeneficiario" },
			{ "data": "nom_mpio" },
			{ "data": "EdadMeses" },
			{ "data": "Peso" },
			{ "data": "Talla" },
			{ "data": "ZScorePesoTalla" },
			{ "data": "ZScoreIMC" },
			{ "data": "ZScoreTallaEdad" }
		],
		"columnDefs": [
				{"className": "dt-center", "targets": "_all"}
			],
		"createdRow": function (row, data, dataIndex, cells) {
			if (data.ZscoreIMC < -0.5) {
				$(row).addClass('Highlight');
			}
			else if (data.ZscoreIMC > 0.75) {
				$(row).addClass('oHighlight');
			}}
	} );

	$('#dpto').change(function() {
        table.ajax.url("/data_json/" + dpto.value + '/' + mpio.value).load();
    });

	$('#mpio').change(function() {
        table.ajax.url("/data_json/" + dpto.value + '/' + mpio.value).load();
    });


	$('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
    if ( row.child.isShown() ) {
         row.child.hide();
         tr.removeClass('shown');     
        }
    else
        {
         if ( table.row( '.shown' ).length ) {
                  $('.details-control', table.row( '.shown' ).node()).click();
          }
          row.child( format(row.data()) ).show();
          tr.addClass('shown');
     }
	});

});
</script>

{% endblock %}
