{% extends "starter.html" %}
{% block title %}{{pagina}}{% endblock %} 

{% block head %}
  	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>

  <style type="text/css" class="init">

	td.details-control {
        background: url('{{ url_for('static', filename='img/details_open.png') }}') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('{{ url_for('static', filename='img/details_close.png') }}') no-repeat center center;
    }

	table#example.dataTable tbody tr.Highlight > .sorting_1 {
		background-color: rgb(255, 255, 204);
		/*#ffa*/;
	}

	table#example.dataTable tbody tr.Highlight > .sorting_2 {
		background-color: rgb(255, 255, 204);
	}

	table#example.dataTable tbody tr.Highlight {
		background-color: rgb(255, 255, 204);
	}
	
    table#example.dataTable tbody tr.oHighlight > .sorting_1 {
		background-color: rgb(255, 153, 153);
	}

	table#example.dataTable tbody tr.oHighlight > .sorting_2 {
		background-color: rgb(255, 153, 153);
	}

	table#example.dataTable tbody tr.oHighlight {
		background-color: rgb(255, 153, 153);
	}
	
	tr.odd td:first-child,
	tr.even td:first-child {
		padding-left: 4em;
	}
	
  </style>
   

{% endblock %}


{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">

					<div id='FormRegional' class="card">
						<h5 class="card-header">
							Select Region
						</h5>
						<div class="card-body">
							<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Departament</label>
									<select class="form-control select2" id="dpto" style="width: 100%;" onchange="pdpto()">
									<option value="all" selected>All</option>
									{% for key, value in dptos.items() %}
									<option value={{key}}>{{value}}</option>
									{% endfor%}
									</select>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>Municipality</label>
									<select id="mpio" class="form-control select2" style="width: 100%;" onchange="pmpio()">
										<option value="all" selected>All</option>
									</select>
								</div>
							</div>
						</div>

						</div>

					</div>
					<div class="card">
						<h5 class="card-header">
							Indicators
						</h5>
						<div class="card-body">
							

							<div class="row">
								<div class="col-sm-6 col-12">
									<div class="info-box shadow">
									  <span class="info-box-icon bg-primary"><i class="fas fa-users"></i></span>
						
									  <div class="info-box-content">
										<span class="info-box-text">Population</span>
										<span class="info-box-number"><h5><strong id="pobl">50.340.000</strong></h5></span>
									  </div>
									  <!-- /.info-box-content -->
									</div>
									<!-- /.info-box -->
								</div>
						
								
								<div class="col-sm-6 col-12">
									<div class="info-box shadow">
									  <span class="info-box-icon bg-danger"><i class="fas fa-child"></i></span>
						
									  <div class="info-box-content">
										<span class="info-box-text">Children assited </span>
										<span class="info-box-number"><h5><strong id="assist">1.206.532</strong></h5></span>
									  </div>
									  <!-- /.info-box-content -->
									</div>
									<!-- /.info-box -->
								</div>
				
						
						
							</div>


							<div class="row">
								<div class="col-sm-3 col-6">
									<div class="description-block border-right">
										<span class="description-percentage text-warning" id="fdes"><i class="" id="ides"></i><span id="ddes"> 0%</span></span>
										<h5 class="description-header" id="des">2.44%</h5>
										<span class="description-text">Malnutrition</span>
									</div>
								<!-- /.description-block -->
								</div>
								<!-- /.col -->
								<div class="col-sm-3 col-6">
									<div class="description-block border-right">
										<span class="description-percentage text-warning" id="frec"><i class="" id="irec"></i><span id="drec"> 0%</span></span>
										<h4 class="description-header" id="rec">90.24%%</h4>
										<span class="description-text">Recover</span>
									</div>
								<!-- /.description-block -->
								</div>
								<!-- /.col -->
								<div class="col-sm-3 col-6">
									<div class="description-block border-right">
										<span class="description-percentage text-warning" id="frecid"><i class="" id="irecid"></i> <span id="drecid"> 0%</span></span>
										<h5 class="description-header" id="recid">9.15%</h5>
										<span class="description-text">Recurrence</span>
									</div>
								<!-- /.description-block -->
								</div>
								<!-- /.col -->
								
								<div class="col-sm-3 col-6">
									<div class="description-block">
										<span class="description-percentage text-warning" id="finc"><i class="" id="iinc"></i> <span id="dinc"> 0%</span></span>
										<h5 class="description-header" id="inc">174.825</h5>
										<span class="description-text">Household income</span>
									</div>
								<!-- /.description-block -->
								</div>

							</div>


						</div>
					</div>
				</div>
				<div class="col-md-6">
					


					<div class="embed-responsive embed-responsive-1by1" style="min-height: 300px; max-height: 480px;">
						<iframe id="map" class="embed-responsive-item" src="/dash/col/all/all" ></iframe>
					  </div>

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<div class="card card-body">
					<table id="example" class="display" style="width:100%">
						<thead>
							<tr>
								<th></th>
								<th>IdBen.</th>
								<th>Region</th>
								<th>Age(mo)</th>
								<th>Weight</th>
								<th>Height</th>
								<th>Weight-height Zscore</th>
								<th>BMI Zscore</th>
								<th>Undernutrition risk (3 mo)</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th></th>
								<th>IdBen.</th>
								<th>Region</th>
								<th>Age(mo)</th>
								<th>Weight</th>
								<th>Height</th>
								<th>Weight-height Zscore</th>
								<th>BMI Zscore</th>
								<th>Undernutrition risk (3 mo)</th>
							</tr>
						</tfoot>
					</table>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

<script>


function inc_class(id, valor1, valor2){
	idt = '#'+id;
	icont = '#'+'i'+id;
	difft = '#'+'f'+id;
	didt = '#'+'d'+id; 

	idc = $(idt);
	icon = $(icont)
	diff = $(difft)
	did = $(didt)
	
	if (id == 'inc'){
		numero = new Intl.NumberFormat("es-CO").format(valor1)
		idc.text('$'+numero)
	}
	else{idc.text(valor1 + '%')}
	//id.text(valor1)
	did.text(valor2 + '%')

	if (valor2 == 0){
		diff.removeClass()
		diff.addClass("description-percentage text-warning")
		icon.removeClass()
		icon.addClass("")
	 }
	else if(valor2 > 0) {
		diff.removeClass()
		diff.addClass("description-percentage text-success")
		icon.removeClass()
		icon.addClass("fas fa-caret-up")
	}
	else if(valor2 < 0){
		diff.removeClass()
		diff.addClass("description-percentage text-danger")
		icon.removeClass()
		icon.addClass("fas fa-caret-down")
	}
}


function ajax_ind(){ 
	//var idt = '#plant'+id
	$.ajax({
		type: 'GET',
		url:'/ind_json/'+ dpto.value + '/' + mpio.value,
		success: function(response){
			pob = new Intl.NumberFormat("es-CO").format(response.poblacion)
			asis = new Intl.NumberFormat("es-CO").format(response.n_beneficiarios)
			$('#pobl').text(pob)
			$('#assist').text(asis)
			inc_class('inc', response.ingr_prom, response.dif_inc)
			inc_class('des', response.fracc_desnutricion, response.dif_desn)
			inc_class('rec', response.fracc_recuperacion, response.dif_rec)
			inc_class('recid', response.fracc_reincidencia, response.dif_reinc)
			console.log(response)

		}
	})
};






function clean_mpio(){
	$('#mpio').empty();
    $('#mpio').append('<option value="all" selected>All</option>')
}

function pdpto(){
	clean_mpio()
	if (dpto.value != 'all'){
		ajax_mpios()
	}
	map()
}

function pmpio(){
	map()
}

function map(){
	var source='/dash/col/'+ dpto.value + '/' + mpio.value;
	console.log(source)
	$('#map').attr('src', source);
	ajax_ind()
}

function ajax_mpios(){ 
	var element = document.getElementById('dpto');
	$.ajax({
		type: 'GET',
		url:'/municipios/'+dpto.value,
		success: function(response){
			resp = response.data
			$.each(resp,function(){
				$('#mpio').append('<option value="'+ this.cod +'">'+ this.nom +'</option>')
			})
		}
	})
}




function format ( d ) {
	var rows = 	'<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
					'<tr>'+
						'<td>Beneficiary Id:</td>'+
						'<td>'+d.IdBeneficiario+'</td>'+
					'</tr>'+
					'<tr>'+
						'<td>Full name:</td>'+
						'<td>Undisclosed Name</td>'+
					'</tr>'+
					'<tr>'+
						'<td>Direction:</td>'+
						'<td>'+d.Direccion+'</td>'+
					'</tr>'+
					'<tr>'+
						'<td><strong>Nutritional monitoring report</strong></td>'+
						'<td> <a class="btn btn-info" href="/report/'+d.IdBeneficiario+'" target="_blank" role="button">Print report</a> </td>'+
					'</tr>'+
				'</table>';

	return rows
};

$(document).ready(function() {
	
	ajax_ind()

	var table = $('#example').DataTable( {
		searching: false,
		paging: false,
		info: false,
		scrollX:        true,
		scrollCollapse: true,
		fixedColumns:   {
			leftColumns: 1,
			rightColumns: 1
		},
		"pageLength": 100,
		"ajax": {
				"url": "/data_json/" + dpto.value + '/' + mpio.value,
				"type": "POST",
				"dataSrc": "data",
			},
		"columns": [
			{ "className":      'details-control',
				"orderable":      false,
				"data":           null,
				"defaultContent": ''
			},
			{ "data": "IdBeneficiario" },
			{ "data": "nom_mpio" },
			{ "data": "EdadMeses" },
			{ "data": "Peso" },
			{ "data": "Talla" },
			{ "data": "ZScorePesoTalla" },
			{ "data": "ZScoreIMC" },
			{ "data": "prediction3m" }
		],
		"columnDefs": [
				{"className": "dt-center", "targets": "_all"}
			],
		"createdRow": function (row, data, dataIndex, cells) {
			if (data.prediction3m > 0.49 && data.prediction3m <= 0.745) {
				$(row).addClass('Highlight');
			}
			else if (data.prediction3m > 0.745) {
				$(row).addClass('oHighlight');
			}}
	} );

	$('#dpto').change(function() {
        table.ajax.url("/data_json/" + dpto.value + '/' + mpio.value).load();
    });

	$('#mpio').change(function() {
        table.ajax.url("/data_json/" + dpto.value + '/' + mpio.value).load();
    });


	$('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
    if ( row.child.isShown() ) {
         row.child.hide();
         tr.removeClass('shown');     
        }
    else
        {
         if ( table.row( '.shown' ).length ) {
                  $('.details-control', table.row( '.shown' ).node()).click();
          }
          row.child( format(row.data()) ).show();
          tr.addClass('shown');
     }
	});

});
</script>

{% endblock %}
